.encyclopaedia {
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    .newComposer {
      margin-left: 15%;
    }

    &.xs {
      flex-direction: column;

      h1 {
        order: 2;
      }

      .newComposer {
        margin-left: 0;
      }
    }
  }

  .composersGrid {
    display: flex;
    flex-wrap: wrap;

    .composerCard {
      margin: 2%;
    }

    &.xs {
      .composerCard {
        width: 96%;
        padding: 0;
        margin-bottom: 20px;
      }

      .composerInfo {
        width: 100%;
      }

      .composerMedia {
        width: 100%;
        height: 220px;
      }
    }

    &.sm {
      .composerCard {
        width: 96%;
        max-height: 230px;
      }

      .composerInfo {
        width: 60%;
      }

      .composerMedia {
        width: 40%;
      }
    }

    &.md {
      .composerCard {
        width: 46%;
        max-height: 280px;
      }

      .composerInfo {
        width: 65%;
      }

      .composerMedia {
        width: 35%;
      }
    }

    &.lg,
    &.xl {
      .composerCard {
        width: 31.33%;
        max-height: 280px;
        margin: 1%;
      }

      .composerInfo {
        width: 65%;
      }

      .composerMedia {
        width: 35%;
      }
    }

    &.xl {
      .composerCard {
        width: 23%;
      }
    }
  }
}
