.modifyComposerInfo {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    opacity: 0.08;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/bg-composer-details.jpg");
    background-size: 25%;
  }

  // Position elements in front of the background image
  * {
    position: relative;
  }

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center;
    }

    &.xs {
      flex-direction: column;

      h1 {
        order: 2;
      }
    }
  }

  .photoContainer {
    margin-left: 4%;
    position: relative;
    height: 150px;
    width: 110px;

    img {
      border-radius: 10px;
    }
  }

  .column {
    width: 48%;
  }

  .form {
    display: flex;

    &.xs,
    &.sm {
      flex-direction: column;

      .verticalSep {
        display: none;
      }

      .column {
        width: 100%;
      }
    }

    .verticalSep {
      width: 1px;
      margin: 0 calc(2% - 1px);
      flex-shrink: 0;
      align-self: stretch;
      background-color: rgba(black, 0.5);
    }
  }
}
